body {
	margin: 0 auto;
}

#contact {
	position: fixed;
	right: 20px;
	top: 20px;
	color: #FF5500;
	font-family: 'Bowlby One SC', cursive;
	z-index: 1;
}
a:visited {
	color: #FF5500;
}
/*HEADER*/
/*================================================*/
.header {
    background-image: url("../images/forest.jpg");
    min-height: 820px; 

    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
	font-family: 'Bowlby One SC', cursive;
	text-align: center;
	position: relative;
	top: 400px;
	/*line-height: 800px;*/
	font-size: 100px;
	color: #FFFFFF;
	margin: 0 auto;
}

#developer{
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Mada', sans-serif;
	text-align: center;
	position: relative;
	top: 360px;
}

#skills{
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	color: #FFFFFF;
	font-family: 'Mada', sans-serif;
	text-align: center;
	position: relative;
	top: 370px;
}

/*ABOUT*/
/*================================================*/
#self {
	width: 400px;
	border-radius: 200px;
	position: relative;
	float: left;
	left: 10%;
	margin-top: 50px;
}

.about {
	width: 400px;
	position: relative;
	float: right;
	right: 10%;
	margin: 60px;
	margin-bottom: 200px;
}

.abouttitle {
	color: #FF5500;
	font-family: 'Bowlby One SC', cursive;
	font-size: 100px;
	position: fixed;
	overflow: hidden;
	top: 500px;
	right: 5%;
	z-index: -1;
	/*clear: both;*/

}

/*PORTFOLIO*/
/*================================================*/
.portfolio {
	width: 100%;
	height: 1900px;
	background-color: #EFFFF6;
	position: relative;
	margin-bottom: 0;
	padding-bottom: 0;
	clear: both;
}

.porttitle {
	color: #FF5500;
	font-family: 'Bowlby One SC', cursive;
	font-size: 100px;
	margin: 0 auto;
	margin-left: 140px;
	padding: 40px;
}

.portimg {
	position: relative;
	height: 320px;
	width: 480px;
}

.work {
	width: 960px;
	/*padding-top: 80px;*/
	margin-left: 10%;
}

.wrap:hover .description {
	visibility: visible;
	opacity: 0.9;
}

.wrap {
	position: relative;
	height: 320px;
	width: 480px;
	float: left;
}

.description {
	text-align: center;
	line-height: 30px;
	height: 320px;
	width: 480px;
	margin: 0 auto;

	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: #D3D3D3;
	color: black;
	font-family: 'Mada', sans-serif;
	font-size: 20px;
	visibility: hidden;
	opacity:0;
}